@font-face {
    font-family: 'Geist Regular';
    src: url('Geist-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Eksell';
    src: url('ekselldisplaytrial-medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Geist Regular";
    background-color: #f9f8eb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
}

#timer {
    font-size: 2em;
    /* margin-top: 5px; */
    margin-bottom: 10px;
}

.btn:focus {
    outline: 3px solid #000000; /* Black outline on focus */
    outline-offset: 2px;
}

.title-container {
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
}

#list-container {
    display: flex;
    align-items: center;
    justify-content: center;
}